.home-about {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 855px;
  margin-bottom: 37px;
  
  &::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 855px;
    filter: brightness(0.22);
    z-index: -1;
    background: url(../images/about-us.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.section-title {
  padding-top: 40px;
}

.about-row {
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    padding: 0 50px;
    font-size: 40px;
    font-style: italic;
    color: $color-light;
    letter-spacing: 1px;
    
    &:last-child {
      text-align: right;
    }
  }
}

@media (max-width: 575px) {
  .home-about {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 400px;
    margin-bottom: 37px;
    
    &::before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 400px;
      filter: brightness(0.22);
      z-index: -1;
      background: url(../images/about-us.jpg) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }

  .section-title {
    margin-bottom: 70px;
  }

  .about-row p {
    font-size: 15px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .home-about {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 450px;
    margin-bottom: 37px;
    
    &::before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 450px;
      filter: brightness(0.22);
      z-index: -1;
      background: url(../images/about-us.jpg) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }

  .section-title {
    margin-bottom: 70px;
  }

  .about-row p {
    font-size: 18px;
  }
}