#contact {
  margin-bottom: 38px;
}

.row {
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;

  label {
    font-family: $font-main;
    color: $color-dark;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 6px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 38px;
  }

  input {
    width: 530px;
    height: 76px;
    margin-bottom: 38px;
    font-size: 30px;
  }

  textarea {
    width: 530px;
    height: 154px;
    margin-bottom: 48px;
    font-size: 25px;
  }
}

button {
  background: $color-main;
  width: 246px;
  height: 83px;
  border: none;
  margin-left: 25%;

  span {
    width: 132px;
    height: 20px;
    color: $color-light;
    font-family: $font-main;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
  }
}

@media (max-width: 575px) {
  .contact-form {
    input {
      margin-left: 14%;
      width: 330px;
      height: 56px;
      margin-bottom: 25px;
      font-size: 20px;
    }

    label {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 6px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    textarea {
      margin-left: 14%;
      width: 330px;
      height: 120px;
      margin-bottom: 25px;
      font-size: 20px;
    }
  }

  button {
    background: $color-main;
    width: 150px;
    height: 50px;
    border: none;
    margin-left: 33.3333%;
  
    span {
      width: 90px;
      height: 20px;
      color: $color-light;
      font-family: $font-main;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 6px;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .contact-form {
    input {
      margin-left: 11%;
      width: 400px;
      height: 56px;
      margin-bottom: 25px;
      font-size: 23px;
    }

    label {
      font-size: 23px;
      font-weight: 700;
      letter-spacing: 6px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    textarea {
      margin-left: 11%;
      width: 400px;
      height: 120px;
      margin-bottom: 25px;
      font-size: 23px;
    }
  }

  button {
    background: $color-main;
    width: 150px;
    height: 50px;
    border: none;
    margin-left: 35%;
  
    span {
      width: 90px;
      height: 20px;
      color: $color-light;
      font-family: $font-main;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 6px;
      text-transform: uppercase;
    }
  }
}