*, *::before, *::after {
  box-sizing: border-box;
}

#pages {
  > * {
    display: none;
  }
  
  > .active {
    display: block;
  }
}

body {
  margin: 0;
  font-family: $font-main;
  color: $color-main;
  background: $color-light;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  letter-spacing: 15px;
  margin-bottom: 162px;

  &::after{
    position: absolute;
    content: '';
    left: 50%;
    width: 777px;
    height: 6px;
    transform: translateX(-50%);
    margin-top: 138px;
    background: $color-main; 
  }
}

.footer {
  height: 60px;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.38px;
}

@media (max-width: 575px) {
  .container {
    width: 500px;
    max-width: 550px;
    margin: 0 auto;
  }

  .section-title {
    font-size: 30px;
    letter-spacing: 15px;
    margin-bottom: 30px;
  }
    
  .section-title:after {
    margin-top: 50px;
    width: 350px;
    height: 4px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 550px;
    max-width: 720px;
    margin: 0 auto;
  }

  .section-title {
    font-size: 40px;
    letter-spacing: 15px;
    margin-bottom: 50px;
  }
    
  .section-title:after {
    margin-top: 70px;
    width: 444px;
    height: 5px;
  }
}