.header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 1007px;
  background-size: auto;
  margin-bottom: 82px;

  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.69);
    z-index: -1;
    background-image: url(../images/background.png);
  }
}

.row-header {
  width: 1193px;
  height: 55px;
}

.logo h4 {
  width: 217px;
  height: 24px;
  color: #ffffff;
  font-family: $font-main;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 10px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.logo h6 {
  width: 294px;
  height: 11px;
  color: #ffffff;
  font-family: $font-main;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 4.8px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.nav-wrapper {
  width: 299px;
  height: 13px;
  opacity: 0.5;
  color: $color-light;
  font-family: $font-main;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: left;
  text-transform: uppercase;

  a {
    padding: 0 9px;
    color: $color-light;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: normal;
  }
}

.row-title {
  width: 1250px;
  height: 169px;
  line-height: 99.96px;
  letter-spacing: 20px;
  margin-top: 241px;
  margin-bottom: 354px;
}

.title-right {
  text-align: right;
}

.row-title::after {
  position: absolute;
  content: '';
  width: 276px;
  height: 6px;
  margin-left: 465px;
  background: $color-main;
}

.bottom-wrapper h5 {
  width: 190px;
  height: 22px;
  margin-left: 499px;
  line-height: 171.82px;
  letter-spacing: 4px;
}

.icon-arrow {
  margin-left: 555px;
  color: $color-light;
  line-height: 231.82px;
}