.header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 1007px;
  background-size: auto;
  margin-bottom: 82px;

  &:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(0.31);
    z-index: -1;
    background-image: url(../images/background.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.row-header {
  width: 1200px;
  height: 55px;
  padding-top: 46px;
}

.logo h4 {
  width: 217px;
  height: 24px;
  color: $color-light;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.logo h6 {
  width: 294px;
  height: 11px;
  color: $color-light;
  letter-spacing: 4.8px;
  text-align: center;
  text-transform: uppercase;
}

.nav-wrapper {
  height: 13px;
  opacity: 0.5;
  color: $color-light;
  font-size: 20px;
  line-height: 27px;
  text-align: left;
  text-transform: uppercase;

  a {
    padding: 0 9px;
    color: $color-light;
    text-decoration: none;
    letter-spacing: 0.5px;
  }
}

.row-title {
  height: 169px;
  letter-spacing: 10px;
  margin-top: 241px;
  margin-bottom: 354px;
}

.title-right {
  text-align: right;
}

.row-title::after {
  position: absolute;
  content: '';
  width: 276px;
  height: 6px;
  left: 43%;
  background: $color-main;
}

.bottom-wrapper h5 {
  width: 190px;
  height: 22px;
  margin-left: 480px;
  line-height: 171.82px;
  letter-spacing: 4px;
}

.icon-arrow {
  margin-left: 545px;
  color: $color-light;
  line-height: 231.82px;
}

@media (max-width: 575px) {
  .header {
    height: 420px;
    margin-bottom: 20px;
  }

  .row-header {
    width: 500px;
    height: 55px;
    padding-top: 20px;
  }
  
  .logo h4 {
    text-align: left;
    font-size: 18px;
    letter-spacing: 4px;
  }

  .logo h6 {
    text-align: left;
    font-size: 14px;
    letter-spacing: 1.5px;
  }

  .nav-wrapper {
    height: 13px;
    opacity: 0.5;
    color: $color-light;
    font-size: 15px;
    line-height: 5px;
    text-align: right;
    text-transform: uppercase;
  
    a {
      padding: 0 5px;
      color: $color-light;
      text-decoration: none;
      letter-spacing: 0.5px;
    }
  }

  .row-title {
    width: 500px;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;

    h1 {
      font-size: 25px;
      letter-spacing: 12px;
    }
  }

  .row-title::after {
    width: 176px;
    height: 4px;
    margin-top: 20px;
    left: 40%;
  }

  .bottom-wrapper h5 {
    font-size: 20px;
    width: 90px;
    margin-left: 210px;
    line-height: 1px;
    letter-spacing: 4px;
  }
  
  .icon-arrow {
    margin-left: 240px;
    color: $color-light;
    line-height: normal;
  }

}

@media (min-width: 576px) and (max-width: 768px) {
  .header {
    height: 450px;
    margin-bottom: 20px;
  }

  .row-header {
    max-width: 550px;
    height: 55px;
    padding-top: 20px;
  }
  
  .logo h4 {
    text-align: left;
    font-size: 20px;
    letter-spacing: 5px;
  }

  .logo h6 {
    text-align: left;
    font-size: 15px;
    letter-spacing: 2px;
  }

  .nav-wrapper {
    height: 13px;
    opacity: 0.5;
    color: $color-light;
    font-size: 17px;
    line-height: 10px;
    text-align: right;
    text-transform: uppercase;
  
    a {
      padding: 0 5px;
      color: $color-light;
      text-decoration: none;
      letter-spacing: 0.5px;
    }
  }

  .row-title {
    width: 500px;
    height: auto;
    margin-top: 110px;
    margin-bottom: 110px;

    h1 {
      font-size: 27px;
      letter-spacing: 12px;
    }
  }

  .row-title::after {
    width: 176px;
    height: 4px;
    margin-top: 20px;
    left: 39%;
  }

  .bottom-wrapper h5 {
    font-size: 21px;
    width: 90px;
    margin-left: 200px;
    line-height: 1px;
    letter-spacing: 5px;
  }
  
  .icon-arrow {
    margin-left: 240px;
    color: $color-light;
    line-height: normal;
  }
}